{% extends '!layout.html' %}
{% block extrahead %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&amp;display=swap">
  <link rel="apple-touch-icon" sizes="180x180" href="https://meltano.com/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://meltano.com/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://meltano.com/favicon-16x16.png">
{% endblock %}
